* {
    /* outline:dotted 1px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    color: #3A98B9;
}

#header-container {
    padding-top: 50px;
    background-color: #DAF5FF!important;
}

/* #content-container {

} */

#footer-container {
    background-color: #DAF5FF!important;
    margin-top: 50px;
    padding: 50px 0 50px 0;
}

.title {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 64px;
    color: firebrick;
}

.subtitle {
    font-size: 48px;
    font-family: 'Sacramento', cursive;
    color: #3A98B9;
    padding-bottom: 20px;
}

h3 {
    color: firebrick;
    font-size: 24px;
}

hr {
    border:0;
    border-bottom: dotted 7px lightgrey;
    width: 4%;
    margin: auto;
}

img {
    border-radius: 50%;
}

.year-2001 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2001 {
    width: 150px;
    float: left;
    margin-right: 25px;
}

.year-2005 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2005 {
    width: 150px;
    float: right;
    margin-right: 25px;
}

.year-2007 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2007 {
    width: 150px;
    float: left;
    margin-right: 25px;
}

.year-2017 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2017 {
    width: 150px;
    float: right;
    margin-right: 25px;
}

.year-2022 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2022 {
    width: 150px;
    float: left;
    margin-right: 25px;
}

.year-2023 {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_2023 {
    width: 150px;
    float: right;
    margin-right: 25px;
}

.contact_me {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.img_contact_me {
    width: 150px;
    float: left;
    margin-right: 25px;
}

a:link {
    color: #3A98B9;
}

a:visited {
    color: #3A98B9;
}

a:hover {
    color: firebrick;
}

/* Kursor generisan na https://www.emojicursor.app/ */
.emoji:hover {
    color: firebrick;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>👨‍💻</text></svg>") 16 0,auto;
}

.summary {
    font-size: 24px;
    color: firebrick;
    width: 60%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

details>ul {
    color: #3A98B9;
    font-size: 16px;
}

li>a {
    text-decoration: none;
}

.footer-container-link {
    margin:0 20px;
    text-decoration: none;
}